<% content_for :title, @team.roster_name %>
<h1><%= @team.roster_name %> Roster</h1>

<div class='team_view'>
  <aside class='col-xs-3 col-sm-3 col-md-4 col-lg-4'>
    <%= render 'games/games_list' %>
  </aside>
  <aside class='col-xs-9 col-sm-9 col-md-8 col-lg-8 team_players'>
    <%= render 'teams/print_team' %>
  </aside>
</div>

<% if current_user.admin? %>
  <hr/>
  <%= render 'players/new_player' %>
  <hr/>
  <%= render 'teams/send_text' %>
<% end %>