<% content_for :title, @team.roster_name %>
<h1><%= @team.roster_name %> Roster</h1>

<div class='team_view'>
  <aside class='games_col center'>
    <%= render 'games/games_list' %>
  </aside>
  <aside class='roster_view'>
    <%= render 'teams/print_team' %>
  </aside>
</div>

<div id='team_admin'>
  <% if current_user.admin? %>
    <hr/>
    <%= render 'players/new_player' %>
    <hr/>
    <%= render 'teams/send_text' %>
  <% end %>
</div>