<% content_for :title, "Contact Us" %>
<h1>Contact</h1>

<!--TODO: Figure out why @message won't work -->
<%= form_for @message, url: create_message_url do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
  <br/>
  <%= f.label :email %>
  <%= f.email_field :email, placeholder: 'email', class: 'form-control' %>
  <br/>
  <%= f.label :message %>
  <%= f.text_area :body, placeholder: 'Message content', class: 'form-control'%>
  <br/>
  <%= f.submit 'Send', class: 'btn btn-primary' %>
<% end %>
