<div id='new_game_form'>
  <h3>Add a new Game</h3></br>
  <%= form_for(@game = Game.new) do |f| %>
    <%= form_errors_for @game %>

    <%= hidden_field_tag :team_id, @team.id %>

    <span id='cuervos'>SB Cuervos FC</span> <%= f.text_field :cuervos_goals, class:'goals' %>
    x <%= f.text_field :adversary_goals, class:'goals' %>
    <%= f.text_field :adversary_team, id:'adversary_team' %>

    <div id="datepicker" data-date=<%= Date.current.to_s(:long) %>>
      <%= f.hidden_field :game_date, id:'hidden_date' %>
    </div>

    <%= f.submit 'Submit game result', class:'btn btn-primary', size:50 %>
  <% end %>
</div>

<script type="text/javascript">
  $('#datepicker').datepicker( {
    format: 'yyyy-mm-dd'
  });
  $('#datepicker').on('changeDate', function() {
    $('#hidden_date').val(
      $('#datepicker').datepicker('getFormattedDate')
    );
  })
</script>