<div class='row'>
  <div class='col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4'>
    <%= form_for(@player) do |f| %>
      <%= form_errors_for @player %>

        <%= hidden_field_tag :team_id, @team.id %>

        <%= f.label :name %>
        <%= f.text_field :name,class: 'form-control' %>

        <%= f.label :position %>
        <%= f.select :position, Player::VALID_POSITIONS %>

        <%= f.label :date_of_birth %>
        <%= f.date_select :date_of_birth, start_year: Date.current.year, end_year: 1980 %>

        <%= f.submit 'Create Player', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>