<li id="post-<%= post.id %>">
  <span class='profile-picture'>
    <%= link_to image_tag(post.user.picture.url, size: 50), post.user  %>
  </span>
  <span class='title'><%= post.title %></span>
  <span class='content'>
    <%= image_tag post.picture.post.url if post.picture? %>
    <%= post.content %>
  </span>
  <span class='timestamp'>
  <%= link_to post.user.name, post.user %>
  Posted <%= time_ago_in_words(post.created_at) %> ago.
  <% if current_user?(post.user) %>
    <%= link_to '<i class="fa fa-trash-o", aria-hidden="true", title="delete post"></i>'.html_safe,
        post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  </span>
</li>