<li id="post-<%= post.id %>" class='jumbotron'>
  <span class='profile-picture'>
    <%= link_to image_tag(post.user.picture.url, size: 50), post.user  %>
  </span>
  <span class='title'><%= post.title %></span>
  <span class='content'>
    <% if post.picture? %>
      <%= image_tag post.picture.post.url %>
    <% elsif post.video? %>
      <%= video_tag post.video_url.to_s, size: '350x250', controls: true %>
    <% end %>
    <%= post.content %>
  </span>
  <span class='timestamp'>
  <%= link_to post.user.name, post.user %>
  Posted <%= time_ago_in_words(post.created_at) %> ago.
  <% if current_user?(post.user) %>
    <%= link_to '<i class="fa fa-trash-o", aria-hidden="true", title="delete post"></i>'.html_safe,
        post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  </span>
  <% if logged_in? %>
    </br><strong>Comments</strong></br>
      <ul class='comments'>
        <%= render(partial: 'comments/comment', collection: post.comments) %>
      </ul>

      <div id='post-add-comment'>
      <%= form_for([post, Comment.new]) do |f| %>
          <%= f.text_area :body, placeholder: 'Add a comment...', class:'body-area' %>
          <%= f.submit 'Add Comment', class:'comment-add-button' %>
      <% end %>
      </div>
  <% end %>
</li>