<% content_for :title, 'New Post' %>
<h1>New post</h1>

<div class='row'>
  <div class='col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4'>
    <%= form_for(@post) do |f| %>
      <%= form_errors_for @post %>

        <%= f.label :title %>
        <%= f.text_field :title, placeholder: 'Post title', class: 'form-control' %>

        <%= f.label :content %>
        <%= f.text_area :content, placeholder: 'Compose new post...', class: 'form-control' %>

        <span class='picture'>
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        </span>

        <%= f.submit 'Post', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_ing_megabyte = this.file[0].size/1024/1024;
    if (size_in_megabytes > 5){
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  })
</script>